.orderCardLight {
  color: hsl(222.2 84% 4.9%);
  p {
    padding-top: 16px;
    word-break: auto-phrase;
    line-height: 1.75rem;
  }
}

.orderCardDark {
  color: hsl(210 40% 98%);

  img {
    filter: invert(100%);
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    word-break: auto-phrase;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  p {
    padding-top: 8px;
    word-break: auto-phrase;
    line-height: 1.75rem;
  }

  br {
    content: 'A' !important;
    display: block !important;
    margin-bottom: 0.75em !important;
  }

  span {
    font-weight: bold;
    width: 100%;
    /* creates newline */
    display: block;
    padding-bottom: 16px;
  }
}
